*{
	/*border: 1px solid #f00;*/
}
body{
	margin: 0;
	font-family: arial,"Microsoft Yahei";
}

main{
	width: 920px;
	margin: 120px auto 0 auto;
}

#col1,#col2,#col3{
	float: left;
	width: 240px;
}
img{
	cursor: pointer;
	display: block;
	margin: 0;
}
#col2{
	margin: 0 100px;
}
#img_1_2{
	margin: 60px 0;
}
#img_2_2{
	margin: 40px 0 5px 0;
}
#img_2_3{
	margin: 5px 0 40px 0;
}
#img_3_2{
	margin: 40px 0;
}
.clear{
	clear: both;
}

footer{
	height: 40px;
	background-color: #ddd;
}
footer a{
	margin-left: 2em;
	font-size: 16px;
	line-height: 40px;
	border-left: 16px solid #508;
	padding-left: 4px;
	text-decoration: none;
	color: #555;
}

@keyframes jiggler1{
	0% {transform:translateX(0px);}
	10%{transform:translateX(5px);}
	20%{transform:translateX(-5px);}
	30%{transform:translateX(5px);}
	40%{transform:translateX(-5px);}
	50%{transform:translateX(5px);}
	60%{transform:translateX(-5px);}
	70%{transform:translateX(5px);}
	80%{transform:translateX(-5px);}
	90%{transform:translateX(5px);}
	100%{transform:translateX(0px);}
}
@keyframes jiggler2{
	0% {transform:scale(1,1);}
	12%{transform:scale(1.5,1.5) translate(-50px,-50px);}
	25%{transform:scale(1,1) translate(0px,0px);}
	37%{transform:scale(1.5,1.5) translate(50px,-50px);}
	50%{transform:scale(1,1) translate(0px,0px);}
	62%{transform:scale(1.5,1.5) translate(-50px,-50px);}
	75%{transform:scale(1,1) translate(0px,0px);}
	87%{transform:scale(1.5,1.5) translate(50px,-50px);}
	100%{transform:scale(1,1);}
}
@keyframes jiggler3{
	0% {transform:scale(1,1);}
	80%{transform:scale(2,2);}
	88%{transform:scale(0.5,0.5);}
	96%{transform:scale(1.2,1.2);}
	100%{transform:scale(1,1);}
}
@keyframes jiggler4{
	0% {transform:rotate(0deg);}
	50%{transform:rotate(-10deg);}
	60%{transform:rotate(180deg);}
	65%{transform:rotate(360deg);}
	70%{transform:rotate(540deg);}
	75%{transform:rotate(720deg);}
	80%{transform:rotate(540deg);}
	85%{transform:rotate(360deg);}
	90%{transform:rotate(180deg);}
	1050%{transform:rotate(900deg);}
}
@keyframes jiggler5{
	0% {transform:rotate(0deg) translate(0px,0px);}
	12%{transform:rotate(10deg) translate(-50px,-50px);}
	25%{transform:rotate(0deg) translate(0px,0px);}
	37%{transform:rotate(-10deg) translate(50px,-50px);}
	50%{transform:rotate(0deg) translate(0px,0px);}
	62%{transform:rotate(10deg) translate(-50px,-50px);}
	75%{transform:rotate(0deg) translate(0px,0px);}
	87%{transform:rotate(-10deg) translate(50px,-50px);}
	100%{transform:rotate(0deg) translate(0px,0px);}
}
@-moz-keyframes jiggler1{
	0% {transform:translateX(0px);}
	12%{transform:translateX(5px);}
	25%{transform:translateX(0px);}
	37%{transform:translateX(-5px);}
	50%{transform:translateX(0px);}
	62%{transform:translateX(5px);}
	75%{transform:translateX(0px);}
	87%{transform:translateX(-5px);}
	100%{transform:translateX(0px);}
}
@-webkit-keyframes jiggler1{
	0% {transform:translateX(0px);}
	12%{transform:translateX(5px);}
	25%{transform:translateX(0px);}
	37%{transform:translateX(-5px);}
	50%{transform:translateX(0px);}
	62%{transform:translateX(5px);}
	75%{transform:translateX(0px);}
	87%{transform:translateX(-5px);}
	100%{transform:translateX(0px);}
}

@-o-keyframes jiggler1{
	0% {transform:translateX(0px);}
	12%{transform:translateX(5px);}
	25%{transform:translateX(0px);}
	37%{transform:translateX(-5px);}
	50%{transform:translateX(0px);}
	62%{transform:translateX(5px);}
	75%{transform:translateX(0px);}
	87%{transform:translateX(-5px);}
	100%{transform:translateX(0px);}
}