div{
	/*border: 1px solid #000;*/
	outline: none;
}


body{
	background-color: #111;
	font-family: arial,"Microsoft Yahei";
}
#color_container{
	/*position: relative;*/
	font-size: 0;
	width: 900px;
	margin: 0 auto;
	text-align: center;
	background-color: #555;
}
.row .col{
	display: inline-block;
	width: 100px;
	height: 100px;
}
.col{
	position: relative;
	z-index: 1;
}
#footer{
	text-align: center;
	margin: 20px 0;
}
#footer a{
	font-size:20px;
	text-decoration: none;
	margin: 0 10px;
}
#footer a:hover{
	color: #0d0;
}
